body {
  background-color: #f8f9fa !important;
}
.image-auto {
  max-width: 60% !important;
  height: auto !important;
}
.login-page-container {
  max-width: 400px !important;
}
.component-card {
  padding: 1rem !important;
  border-radius: 8px !important;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}
.card-content {
  padding: 1rem !important;
}
.card-heading {
  padding: 1rem !important;
}
.card-data {
  padding: 1rem !important;
}
.login-page-container .card-footing {
  margin-top: 2rem !important;
}
.image-wrapper {
  padding: 0rem 1rem 1rem 1rem !important;
}
.button-login {
  color: #fff !important;
  background-color: #007bff !important;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
  padding-right: 1.5rem !important;
  padding-left: 1.5rem !important;
  margin-bottom: 0 !important;
}
.link-wrapper {
  text-align: left !important;
}
.link-wrapper-center {
  text-align: center !important;
}
.forgot-password {
  border-radius: 5px;
  padding: 8px !important;
  margin-inline: 10px !important;
  background-color: #E6F0FF;
  margin-top: 1.2rem !important;
}
.button-blue {
  color: #0d6efd !important;
}
.button-wrapper {
  text-align: right !important;
}
.font-weight-light {
  font-weight: 300;
}
.font-weight-normal {
  font-weight: 400;
}
.font-weight-bold {
  font-weight: 600;
}
.mb-0 {
  margin-bottom: 0 !important;
}
.mb-1 {
  margin-bottom: 0.25rem !important;
}
.mb-2 {
  margin-bottom: 0.5rem !important;
}
.d-inline {
  display: inline !important;
}

@media (max-width: 576px) {
  body {
    background-color: #fff !important;
  }
  .component-card {
    border-radius: 8px !important;
    box-shadow: none !important;
    padding: 0.5rem !important;
  }
  .card-content {
    padding: 0.25rem !important;
  }
  .card-heading {
    padding: 0.5rem !important;
  }
  .card-data {
    padding: 0.5rem !important;
  }
  .card-footing {
    margin-top: 1.5rem !important;
  }
  .image-wrapper {
    padding: 0.5rem !important;
  }
  .button-login {
    margin-bottom: 1rem !important;
  }
  .link-wrapper {
    text-align: left !important;
  }
  .button-wrapper {
    text-align: right !important;
  }
  .forgot-password {
    margin-top: 1rem !important;
  }
}
