$dark: #343a40;
$icons-dark: #424549;

.MuiInput-underline::before {
  content: none !important;
  transition: none !important;
  border-bottom: none !important;
}
.MuiInput-underline::after {
  content: none !important;
  transition: none !important;
  border-bottom: none !important;
}
.displayNote {
  width: 250px !important;
  border-radius: 10px !important;
  border: 1px solid #e1e7ec;
  box-shadow: none !important;
  color: $dark !important;
  margin: 8px !important;
  align-self: flex-start !important;
}
.iconbar .icons-group .MuiSvgIcon-fontSizeSmall {
  font-size: 18px !important;
}
.iconbar .icons-group .MuiIconButton-root {
  padding: 10px !important;
}
// .MuiSvgIcon-root{

// }
.iconbar {
  transition-timing-function: ease;
  transition: opacity 1s;
  opacity: 0;
  visibility: hidden;
}
.displayNote:hover {
  border: 1px solid #dfe4e9;
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.08) !important;
  .iconbar {
    opacity: 1;
    visibility: visible;
  }
}
.MuiSvgIcon-root {
  color: $icons-dark !important;
}
::placeholder {
  color: $dark !important;
  font-weight: bold;
}
.card-close-button {
  margin-left: auto !important;
  text-transform: unset !important;
  color: $dark !important;
  background-color: transparent !important;
  animation: none !important;
  transition: none !important;
  transform: none !important;
}
.displayNote .noteTitle {
  font-size: 16px !important;
  font-weight: 500 !important;
}
.displayNote .noteContent {
  font-size: 16px !important;
  font-weight: 400 !important;
  line-height: 1.3 !important;
  letter-spacing: 0 !important;
  margin-bottom: 10px;
}
.displayNote .MuiCardHeader-root {
  padding-bottom: 0 !important;
}
.displayNote .MuiCardContent-root {
  padding-top: 5px !important;
  padding-bottom: 8px !important;
}
.displayNote .MuiCardActions-root {
  padding-top: 0px !important;
}
@media (max-width: 630px) {
  .displayNote {
    width: 600px !important;
    margin-inline: 0px !important;
  }
}
.show-collaborator-icon {
  background-color: rgb(240, 240, 240) !important;
  border: 1px solid rgb(218, 218, 218);
  box-shadow: 0rem 0.2rem 0.4rem rgba(0, 0, 0, 0.096);
  width: 30px !important;
  height: 30px !important;
  font-size: 1rem !important;
  cursor: pointer;
  transition: all ease 0.3s;
}
.show-collaborator-icon:hover {
  border: 1.5px solid #424549;
  box-shadow: 0rem 0.3rem 0.6rem rgba(0, 0, 0, 0.15);
}
.person-icon {
  font-size: 1rem !important;
}
