.color-pallet {
  padding: 10px !important;
  border: 1px solid !important;
  border-radius: 50px !important;
  border: 1px solid rgb(110, 110, 110) !important;
  margin: 6px !important;
  align-self: flex-start;
  box-shadow: 0rem 0.2rem 0.25rem rgba(0, 0, 0, 0.1) !important;
}

.color-pallet-container {
  background-color: white !important;
  box-shadow: 0rem 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
  display: flex !important;
  flex-direction: row !important;
  justify-content: flex-start !important;
  align-content: flex-end !important;
  flex-wrap: wrap !important;
  width: 112px !important;
  min-height: 50px !important;
  border-radius: 10px !important;
}

.color-pallet-popper {
  top: -120px !important;
  left: 0px !important;
  bottom: unset !important;
  position: absolute !important;
  //margin-bottom: 55px !important;
  // margin-left: 55px !important;
  z-index: 1000 !important;
}

.color-pallet-container .MuiList-root {
  display: inline !important;
  padding: 5px !important;
}
.color-pallet-container .MuiListItem-root {
  display: inline-block !important;
  min-height: unset !important;
}
