.App-containt {
  background-color: #f8f9fa;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(49, 49, 49);
}
.snackbar-success {
  background-color: #4caf51 !important;
  color: #fff !important;
}
.snackbar-info {
  background-color: #2196f3 !important;
  color: #fff !important;
}
.snackbar-error {
  background-color: #f44336 !important;
  color: #fff !important;
}
@media (max-width: 576px) {
  .App-containt {
    background-color: #fff;
  }
}
