$dark: #343a40;
$icons-dark: #424549;

.MuiInput-underline::before {
  content: none !important;
  transition: none !important;
  border-bottom: none !important;
}
.MuiInput-underline::after {
  content: none !important;
  transition: none !important;
  border-bottom: none !important;
}
.updateNote {
  padding: 0px !important;
  border: none !important;
  box-shadow: none !important;
  color: $dark !important;
}

.MuiSvgIcon-root {
  color: $icons-dark !important;
}
::placeholder {
  color: $dark !important;
  font-weight: bold;
}
.dialog-close-button {
  text-transform: unset !important;
  color: $dark !important;
  background-color: transparent !important;
  animation: none !important;
  transition: none !important;
  transform: none !important;
}
.dialog-close-button .MuiButton-label {
  font-weight: 600 !important;
}
.update-note-dialog .MuiDialogActions-root {
  justify-content: space-between !important;
}
.dialog-content {
  padding: 0px !important;
}
.update-note-dialog .MuiDialog-paperScrollPaper {
  width: 600px;
}
